.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #333;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
