<!-- Contract List -->
@for (contract of contracts; track contract) {
<div class="contract-container">
  <div class="contract-container-box">
    <h1>{{ contract.hotelName }}</h1>
    <div class="button-container">
      <button
        type="button"
        class="view-button"
        (click)="viewContract(contract)"
      >
        <i class="fa-solid fa-eye" style="color: #13390a"></i>
        View Contract
      </button>
      <button
        type="button"
        class="remove-button"
        (click)="openRemoveConfirmation(contract)"
      >
        <i class="fa-solid fa-trash-can" style="color: #631809"></i>
        Remove Contract
      </button>
    </div>
  </div>
</div>
}

<!-- Confirmation Popup for Remove Contract -->
@if (isRemovePopupOpen) {
<div class="remove-popup-overlay">
  <div class="remove-popup-content">
    <p>Are you sure you want to remove this contract?</p>
    <div class="button-container">
      <div class="yes-button">
        <button (click)="confirmRemoveContract()">Yes</button>
      </div>
      <div class="no-button">
        <button (click)="cancelRemoveContract()">No</button>
      </div>
    </div>
  </div>
</div>
}

<!-- PopUp for Contract Details -->
@if (isViewPopUpOpen) {
<div class="view-popup">
  <div class="view-popup-content">
    <div class="view-popup-topic">
      <button class="close-button" (click)="closeViewPopUp()">×</button>
      <h2>{{ selectedContract?.hotelName }}</h2>
    </div>
    <div class="view-popup-details">
      <p>
        This contract is valid from
        {{ selectedContract?.startDate | date : "yyyy-MM-dd" }}
        to
        {{ selectedContract?.endDate | date : "yyyy-MM-dd" }}
      </p>
      <p>
        Mark up rate for this contract is
        {{ selectedContract?.markUpRate }} %
      </p>
      <table>
        <thead>
          <tr>
            <th>Room Type</th>
            <th>Price</th>
            <th>No of Rooms</th>
            <th>Max Adults</th>
          </tr>
        </thead>
        <tbody>
          @for (room of selectedContract?.roomDetails; track room) {
          <tr>
            <td>{{ room.roomType }}</td>
            <td>$ {{ room.pricePerPerson }}</td>
            <td>{{ room.numberOfRooms }}</td>
            <td>{{ room.maxAdults }}</td>
          </tr>
          }
        </tbody>
      </table>
      <p><i>All above rates are per person, per night</i></p>
    </div>
    <div class="status-container">
      <div class="status-label">Status :</div>
      <div class="status-value">
        <span
          [ngClass]="{
            'active-status': status === 'active',
            'upcoming-status': status === 'up coming',
            'expired-status': status === 'expired'
          }"
        >
          <i class="fa-solid fa-circle"></i>
        </span>
        {{ status | titlecase }}
      </div>
    </div>
  </div>
</div>
}
