.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 12rem 3rem 12rem;
  gap: 25rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.search-container-box {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 1rem;
  border: 2px solid black;
  border-radius: 0.25rem;
  padding: 0.55rem 1rem;
}

.input-container input {
  width: 100%;
  border: none;
  outline: none;

  font-size: 1rem;
  font-style: italic;
}

.search-button {
  padding: 0.75rem 2rem;
  background-color: var(--main-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 550;
  transition: all 0.3s ease-in-out;
}

.search-button:hover {
  background-color: var(--main-color-hover);
  box-shadow: 0 0 1rem 0.1rem var(--main-color-hover);
}

.add-contract-button {
  padding: 0.75rem 2rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 550;
  transition: all 0.3s ease-in-out;
}

.add-contract-button:hover {
  background-color: var(--secondary-color-hover);
  box-shadow: 0 0 1rem 0.1rem var(--secondary-color-hover);
}
