<div class="search-container">
  <div class="search-container-box">
    <div class="input-container">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Enter hotel name"
        name="hotelName"
      />
    </div>
    <button type="button" class="search-button" (click)="searchContract()">
      Search
    </button>
  </div>
  <div>
    <button
      type="button"
      class="add-contract-button"
      (click)="openAddContract.emit()"
    >
      Add Contract
    </button>
  </div>
</div>
