<div class="contract-list">
  <h2>Contracts</h2>
  <div *ngFor="let contract of contracts">
    <div>
      <h1>{{ contract.hotelName }}</h1>
      <button type="button" class="view-button" (click)="openModal(contract)">
        View Contract
      </button>
    </div>
  </div>

  <!-- PopUp for Contract Details -->
  <div *ngIf="isModalOpen" class="view-popup">
    <div class="view-popup-content">
      <div class="view-popup-topic">
        <button class="close-button" (click)="closeModal()">×</button>
        <h2>{{ selectedContract?.hotelName }}</h2>
      </div>
      <p>
        This contract is valid from
        {{ selectedContract?.startDate | date : "yyyy-MM-dd" }}
        to
        {{ selectedContract?.endDate | date : "yyyy-MM-dd" }}
      </p>
      <table>
        <thead>
          <tr>
            <th>Room Type</th>
            <th>Price</th>
            <th>No of Rooms</th>
            <th>Max Adults</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of selectedContract?.roomDetails">
            <td>{{ room.roomType }}</td>
            <td>${{ room.pricePerPerson }}</td>
            <td>{{ room.numberOfRooms }}</td>
            <td>{{ room.maxAdults }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
