<header class="header">
  <div class="logo">
    <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="images/sun-logo.png" alt="Sun Travels" />
    </a>
  </div>
  <h1>Sun Travels</h1>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/availability"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >Availability</a
        >
      </li>
    </ul>
  </nav>
</header>
