.contract-list h2 {
  font-size: 3rem;
  font-family: "Garamond-Bold";
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Garamond-Bold";
}
