<div class="contract-list">
  <h2>Contracts</h2>
  <div>
    <app-contract-search
      (search)="searchContract($event)"
      (openAddContract)="openForm()"
    ></app-contract-search>
  </div>
  @if(isContractsNotFound){
  <div class="error-message">
    <h3>No Contracts found</h3>
  </div>
  }@else{
  <app-contract-view [contracts]="contracts"></app-contract-view>
  }
  <app-contract-add
    [isAddContractOpen]="isAddContractOpen"
    (submitContract)="submitAddContract($event)"
    (closeForm)="closeForm()"
  ></app-contract-add>
</div>
