<!-- Add Contract Form -->
@if (isAddContractOpen) {
<div class="add-contract-form-main">
  <div class="add-contract-form-container">
    <div class="add-contract-popup-topic">
      <button class="close-button" (click)="closeAddContract()">×</button>
      <h2>Add Contract</h2>
    </div>
    <form class="add-contract-form" (ngSubmit)="submit()">
      <div class="add-main-details">
        <div class="add-contract-input">
          <label for="hotelName">Hotel Name</label>
          <input
            id="hotelName"
            type="text"
            [(ngModel)]="newContract.hotelName"
            name="hotelName"
            placeholder="Enter Hotel Name"
          />
          @if(!isHotelNameFilled){
          <p class="error-message">*Hotel Name is required</p>
          }@else {
          <p class="error-message"></p>
          }
        </div>

        <div class="add-contract-input">
          <label for="markUp">*Mark Up Rate (%)</label>
          <input
            id="markUp"
            type="number"
            [(ngModel)]="newContract.markUpRate"
            name="markUpRate"
            placeholder="Enter Mark Up Rate"
          />
          @if(!isMarkUpRateFilled){
          <p class="error-message">*Mark Up Rate is required</p>
          }@else if(!isMarkUpRateValid){
          <p class="error-message">*Mark Up Rate should between 1-100</p>
          }@else{
          <p class="error-message"></p>
          }
        </div>

        <div class="add-contract-input">
          <label for="startDate">Start Date</label>
          <input
            id="startDate"
            type="date"
            [(ngModel)]="newContract.startDate"
            name="startDate"
            [min]="today"
          />
          @if(!isStartDateFilled){
          <p class="error-message">*Start Date is required.</p>
          }@else {
          <p class="error-message"></p>
          }
        </div>

        <div class="add-contract-input">
          <label for="endDate">End Date</label>
          <input
            id="endDate"
            type="date"
            [(ngModel)]="newContract.endDate"
            name="endDate"
            [min]="newContract.startDate"
          />
          @if (!isEndDateFilled) {
          <p class="error-message">*End Date is required</p>
          }@else if (!isEndDateBeforeStartDate) {
          <p class="error-message">*End Date should be after Start Date</p>
          }@else {
          <p class="error-message"></p>
          }
        </div>
      </div>

      <!-- Room Details -->
      <div class="room-details-form">
        <div
          class="room-details-container"
          *ngFor="let room of newContract.roomDetails; let i = index"
        >
          <div class="add-contract-input-room">
            <label>Room Type</label>
            <input
              type="text"
              [(ngModel)]="room.roomType"
              name="roomType-{{ i }}"
              placeholder="Enter Room Type"
            />
            @if (!isRoomTypeFilled[i]) {
            <p class="error-message">*Room Type is required</p>
            }@else {
            <p class="error-message"></p>
            }
          </div>

          <div class="add-contract-input-room">
            <label>Price Per Person</label>
            <input
              type="number"
              [(ngModel)]="room.pricePerPerson"
              name="pricePerPerson-{{ i }}"
              placeholder="Enter Price Per Person"
            />
            @if (!isPricePerPersonFilled[i]) {
            <p class="error-message">*Price Per Person is required</p>
            }@else if (!isPricePerPersonValid[i]) {
            <p class="error-message">*Price Per Person should be positive</p>
            }@else {
            <p class="error-message"></p>
            }
          </div>

          <div class="add-contract-input-room">
            <label>Number of Rooms</label>
            <input
              type="number"
              [(ngModel)]="room.numberOfRooms"
              name="numberOfRooms-{{ i }}"
              placeholder="Enter No.of Rooms"
            />
            @if (!isNumberOfRoomsFilled[i]) {
            <p class="error-message">*Number of Rooms is required</p>
            }@else if (!isNumberOfRoomsValid[i]) {
            <p class="error-message">*Number of rooms should be positive</p>
            }@else {
            <p class="error-message"></p>
            }
          </div>

          <div class="add-contract-input-room">
            <label>Max Adults</label>
            <input
              type="number"
              [(ngModel)]="room.maxAdults"
              name="maxAdults-{{ i }}"
              placeholder="Enter Max Adults"
            />
            @if(!isMaxAdultsFilled[i]){
            <p class="error-message">*Max Adults is required</p>
            }@else if (!isMaxAdultsValid[i]) {
            <p class="error-message">*Max Adults should be positive</p>
            }@else {
            <p class="error-message"></p>
            }
          </div>

          <!-- Remove Room Button (visible from the second room onward) -->
          <button
            *ngIf="i > 0"
            type="button"
            class="remove-room-button"
            (click)="removeRoom(i)"
          >
            Remove Room Type
          </button>
        </div>

        <button type="button" class="add-room-button" (click)="addRoom()">
          Add Room Type
        </button>
      </div>
      <div class="submit-contract">
        <button type="submit" [disabled]="isSubmitting">
          {{ isSubmitting ? "Saving..." : "Add Contract" }}
        </button>
      </div>
    </form>
  </div>
</div>
}@else if(successMessage) {
<div class="success-message-container">
  <div class="success-message">Contract Saved Successfully</div>
</div>
}
