<!-- Add Contract Form -->
@if (isAddContractOpen) {
<div class="add-contract-form-main">
  <div class="add-contract-form-container">
    <div class="add-contract-popup-topic">
      <button class="close-button" (click)="closeAddContract()">×</button>
      <h2>Add Contract</h2>
    </div>
    <form class="add-contract-form" (ngSubmit)="submit()">
      <div class="add-contract-input">
        <label for="hotelName">Hotel Name</label>
        <input
          id="hotelName"
          type="text"
          [(ngModel)]="newContract.hotelName"
          name="hotelName"
        />
        @if(isHotelNameFilled){
        <p class="error-message">Hotel Name is required.</p>
        }@else {
        <p class="error-message"></p>
        }
      </div>

      <div class="add-contract-input">
        <label for="startDate">Start Date</label>
        <input
          id="startDate"
          type="date"
          [(ngModel)]="newContract.startDate"
          name="startDate"
        />
        @if(isStartDateFilled){
        <p class="error-message">Start Date is required.</p>
        }@else {
        <p class="error-message"></p>
        }
      </div>

      <div class="add-contract-input">
        <label for="endDate">End Date</label>
        <input
          id="endDate"
          type="date"
          [(ngModel)]="newContract.endDate"
          name="endDate"
        />
        @if (isEndDateFilled) {
        <p class="error-message">End Date is required.</p>
        <!-- }@else if (isEndDateBeforeStartDate) {
              <p class="error-message">End Date should be after Start Date.</p> -->
        }@else {
        <p class="error-message"></p>
        }
      </div>

      <div class="add-contract-input">
        <label for="markUp">Mark Up Rate (%)</label>
        <input
          id="markUp"
          type="number"
          [(ngModel)]="newContract.markUpRate"
          name="markUpRate"
        />
      </div>

      <div formArrayName="roomDetails">
        @for (room of newContract.roomDetails; track room) {
        <div class="add-contract-input-container">
          <label for="roomType{{ room.roomType }}">Room Type</label>
          <input
            id="roomType{{ room.roomType }}"
            type="text"
            [(ngModel)]="room.roomType"
            name="roomType{{ room.roomType }}"
            required
          />
        </div>
        <label for="pricePerPerson{{ room.pricePerPerson }}"
          >Price per Person</label
        >
        <input
          id="pricePerPerson{{ room.pricePerPerson }}"
          type="number"
          [(ngModel)]="room.pricePerPerson"
          name="pricePerPerson{{ room.pricePerPerson }}"
          required
        />
        <label for="numberOfRooms{{ room.numberOfRooms }}"
          >Number of Rooms</label
        >
        <input
          id="numberOfRooms{{ room.numberOfRooms }}"
          type="number"
          [(ngModel)]="room.numberOfRooms"
          name="numberOfRooms{{ room.numberOfRooms }}"
          required
        />
        <label for="maxAdults{{ room.maxAdults }}">Max Adults</label>
        <input
          id="maxAdults{{ room.maxAdults }}"
          type="number"
          [(ngModel)]="room.maxAdults"
          name="maxAdults{{ room.maxAdults }}"
          required
        />
        }
      </div>
      <button type="button" (click)="addRoom()">Add Room</button>
      <button type="submit" class="submit-contract">Add Contract</button>
    </form>
  </div>
</div>
}
